In [14]:
import pandas as pd
import numpy as np
import scipy.stats as st
import math
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
dataset=pd.read_csv('Sales_add.csv')

In [3]:
dataset

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
2    Month-3  ...                        244243
3    Month-4  ...                        231808
4    Month-5  ...                        258402
5    Month-6  ...                        256948
6    Month-7  ...                        222106
7    Month-8  ...                        230637
8    Month-9  ...                        226261
9   Month-10  ...                        193735
10  Month-11  ...                        203175
11  Month-12  ...                        276279
12  Month-13  ...                        205180
13  Month-14  ...                        253131
14  Month-15  ...                        229336
15  Month-16  ...                        187305
16  Month-17  ...                        234908
17  Month-18  ...                        191517
18  Month-19  ...                        227040
19  Month-20  ...                        212579
20  Month-21  ...                        263388
21  Month-22  ...                        243020

[22 rows x 5 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
dataset.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

#The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

One sample t-test

H0 (Null hypothesis) Sample_avg = 149239.954545	

Ha (ALT hypothesis) Sample_avg > 149239.954545	

If this is P < 0.05 and Sample_avg > 149239.954545	 satisfied we can reject the NULL hypothesis. else we fail to reject the NULL hypothesis.

##One Sample T-Test

In [9]:
st.ttest_1samp(a = dataset['Sales_After_digital_add(in $)'], popmean = 149239.954545)

Ttest_1sampResult(statistic=15.028066221470414, pvalue=1.037809155768797e-12)

In [11]:
dataset['Sales_After_digital_add(in $)'].mean()

231123.72727272726

##Two Sample T-Test(

In [12]:
st.ttest_rel(a = dataset['Sales_before_digital_add(in $)'], b = dataset['Sales_After_digital_add(in $)'])

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

#The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [15]:
encoder=LabelEncoder()

In [16]:
dataset['Manager']=encoder.fit_transform(dataset['Manager'])

In [17]:
dataset['Region']=encoder.fit_transform(dataset['Region'])

In [18]:
print(np.corrcoef(dataset['Region'], dataset['Manager']))

[[1.         0.02237153]
 [0.02237153 1.        ]]

we can see that it is directly corelated with each other